<apex:page controller="ChartDemoController">
  <apex:form >
      <apex:pageBlock >
          <!-- The three buttons to click -->
          <apex:pageBlockButtons >
              <apex:commandButton action="{!button1}" value="Button 1" reRender="chartSection"/>
              <apex:commandButton action="{!button2}" value="Button 2" reRender="chartSection"/>
              <apex:commandButton action="{!button3}" value="Button 3" reRender="chartSection"/>
          </apex:pageBlockButtons>
 
          <!-- Our pie chart -->
          <apex:pageBlockSection columns="1" id="chartSection">
              <apex:chart data="{!dataPoints}" height="400" width="500">
                 <apex:legend position="right"/>
                 <apex:pieSeries labelField="name" dataField="clicks">
                     <apex:chartTips height="20" width="120"/>
                 </apex:pieSeries>
            </apex:chart>
          </apex:pageBlockSection>
      </apex:pageBlock>
  </apex:form>
</apex:page>